# Dependencies
node_modules/

# Environment varibales
.env

.env*

!.env*.example

dist/
logs/
*.log
.DS_Store

# Code coverage
coverage
/src/generated/prisma

/src/generated/prisma

/src/generated/prisma
